.title-bar {
    background: radial-gradient(#fbcd52, #eaab00);
    padding: 15px;
    font-weight: 200;
    font-size: 38px;
    line-height: 120%;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.vertical-align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text {
    background-color: #f2f5f6;
    padding: 0 30px;
    width: 50%;
    text-align: center;
}

.banner-wrapper {
    background-color: #f2f5f6;
}

@media only screen and (max-width: 767px) {
    .head-banner {
        display: block;
        background-color: #f2f5f6;
    }
    .header-banner {
        display: none;
    }
    .text {
        width: 100%;
    }
}

.print-button,
.save-button {
    display: inline-block;
    float: right;
    padding: 10px 5px;
}

.save,
.print {
    font-size: 22px;
    color: #003946;
    padding-left: 5px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
}

.result-summary {
    background-color: #003946;
    color: white;
    padding: 20px 0px;
    font-size: 22px;
}
.result-summary .col1{
        padding-top: 70px;
    } 

.result-summary .col1-d1 {
    background: url(../images/results-ribbon.png) top center no-repeat;
    background-size: contain;
    width: 237px;
    height: 74px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #003946;
    margin: 0 auto;
}

.result-summary .col1-d2 {
    text-align: center;
    font-size: 27px;
    padding: 0 20px;
}

.result-summary .col2-d1 {
    color: #eaab00;
}

.result-summary .col2-d1,
.result-summary .col2-d2,
.result-summary .col2-d3 {
    font-size: 35px;
    font-weight: bold;
}

.result-summary .col3 {
    line-height: 25px;
}

.result-summary .col3-d2 {
    margin-top: 10px;
}

.result-summary .col3-d2 strong {
    color: #eaab00;
}

@media only screen and (max-width: 991px) {
    .result-summary .col3 {
        line-height: 20px !important;
        padding-top: 25px;
    }
}

@media only screen and (min-width: 991px) {
    .result-summary .col3 {
        padding-top: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .result-summary .col1 {
        padding-top: 20px;
    }
    .result-summary .col2 {
        text-align: center;
    }
    .result-summary .col3 {
        line-height: 25px !important;
    }

}

.line-divider{
    border-top: 1px solid white;
    padding-bottom: 10px;
}

.fa-exclamation-circle{
    margin-right:5px;
}

.result-details{
    background-color: #fbefcc;
}