body{
    font-family: 'Catamaran', serif;
}
.boxes{
	padding: 30px 20px;	
	margin-top:10px;
}
.boxes h2{
		margin-top : 0px;
	margin-bottom:20px;
}
.boxes label{
	/*font-size:16px;*/
	font-weight: 500;
	position: relative;
	/*top:7px;*/
}
.page-content .boxes label{
 font-size:18px;
}
.page-content .boxes .slider-div{
	position:relative;
	top:7px;
}
.page-content .boxes .bootstrap-select .btn{
	    font-weight: bold;
    color: #003946;
}
.page-content .boxes .bootstrap-select ul.dropdown-menu span.text{
font-weight: bold;
    color: #003946;
}
.icon-container{
    text-align: center;
}
.icon-container i{
    /*background-color: #90b081;*/
    background-color: #3FB8AF;
        /*color: #a8d06f;*/
        color:#fbefcc;
    width: 70px;
    font-size: 60px;
    border-radius: 50%;
    height: 70px;
}
.page-content .tell-us{
background-color: #fbefcc;
}
.page-content .account-details{
	background-color: #f2f5f6;
}
.page-content .spouse-account-details{
	background-color:#fbefcc;
}
.page-content .other-assets{
	background-color:#fbefcc;
}
.page-content .ttrForm .submit-button{
	width:initial;
	margin:0 auto;
	margin-top:10px;
	font-size:16px;
}


.page-content .tell-us input,.page-content .account-details input, .page-content .other-assets input, .page-content .spouse-account-details input{
	text-align: right;
    font-weight: bold;
    color: #003946;
    font-size:18px;
}

.tell-us .bootstrap-select,.account-details .bootstrap-select,.spouse-account-details .bootstrap-select{
	width:100% !important;
}
.boxes .white-border{
	margin:5px 0px 15px;
	border-bottom:1px solid #3FB8AF;
}
.account-details h4,.spouse-account-details h4{
	/*font-size: 16px;*/
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.ttrForm input.form-control,.ttrForm .bootstrap-select .btn, .ttrForm .input-group-addon{
	border-radius:0px;
}

.ttrForm input.form-control:focus{
	border-color:#000;
	box-shadow:none;
}

.ttrForm .noUi-target{
	/*border-radius:0px;	*/
}

.ttrForm .bootstrap-select .btn-default:hover,.ttrForm .bootstrap-select .btn-default:focus{
	background-color: #fff;
	box-shadow: none;
}

.ttrForm .open>.dropdown-toggle.btn-default{
	background-color: #fff;
	box-shadow: none;
} 







@media (max-width: 767px) {
	.icon-container{
	margin-bottom:10px;
	text-align: left;
	}
	.icon-container p.details-xs{
		text-align: left;
		display:inline-block !important;
		    font-size: 18px;
    text-decoration: underline;
    position: relative;
    top: -8px;
    left: 5px;
	}
	.icon-container i{
		text-align: center;
		font-size:50px;
		width:60px;
		height:56px;
	}
	.page-content .boxes label {
    font-size: 16px;
}
}

.noUi-horizontal .noUi-handle {
	width:30px;
	height:30px;
	background-color: #fbefcc;
}
.noUi-handle {
	border-radius:15px;
	border:3px solid #3FB8AF;
}
.noUi-handle:before, .noUi-handle:after{
	content:none;
}
.noUi-target.noUi-connect, .noUi-background{
	box-shadow: none;
	    background: #fff;
}

.uib-datepicker:focus,.dropdown-menu:focus,table.uib-daypicker:focus{
	outline:none;
}

ul.dropdown-menu{
	padding:0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
div.err-div{
	background-color: #a4383d;
	padding:5px;
}
p.err-msg{
	font-size:16px;
	margin:0px;
	color:#fff;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #fff !important;
}

