.slf-r-gradient-whimsical-bot {
    margin-bottom: 0px;
}

.slf-r-gradient-whimsical-bot {
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fbcd52', endColorstr='#eaab00', GradientType=0);
    /* IE6-9 */
    background: url(../images/icon-whimsical-title-bar.png) top center no-repeat, -webkit-radial-gradient(#fbcd52, #eaab00);
    background: url(../images/icon-whimsical-title-bar.png) top center no-repeat, -o-radial-gradient(#fbcd52, #eaab00);
    background: url(../images/icon-whimsical-title-bar.png) top center no-repeat, -moz-radial-gradient(#fbcd52, #eaab00);
    background: url(../images/icon-whimsical-title-bar.png) top center no-repeat, radial-gradient(#fbcd52, #eaab00);
    min-height: 125px;
    position: relative;
}

.title-bar {
    background: radial-gradient(#fbcd52, #eaab00);
    padding: 15px;
    font-weight: 200;
    font-size: 38px;
    line-height: 120%;
}





.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.vertical-align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text {
    background-color: #f2f5f6;
    padding: 0 30px;
    width: 50%;
    text-align: center;
}


.banner-wrapper {
    background-color: #f2f5f6;
}


@media only screen and (max-width: 767px) {
    .head-banner {
        display:block;
        background-color: #f2f5f6;
    }
    .header-banner{
        display:none;
    }
}
